html
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="/style/header.css")
        link(rel="stylesheet", type="text/css", href="/style/bookform.css")
    body
        include header.pug
    if book
        form(action="?_method=PUT", method="POST", class="bookform")
            input(type="hidden", name="_method", value="PUT")
            input(type="text", name="title", value=''+book.titolo)
            input(type="text", name="author", value=''+book.autore)
            input(type="date", name="pubdate", value=''+book.data_pubblicazione)
            input(type="submit", value="Update")
    if msg 
        .info
            p #{msg}
    .goback
        a(href="/") Go Back 