.home-content {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.book-list {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-around;
    flex-grow: 1;
}
.book-card {
    background-color: #f6d4ec;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    text-align: center;
    font-size: 1.2vw;
}

.book-card:hover{
    -webkit-box-shadow: 0px 1px 13px 5px #FFA5EA;
    -moz-box-shadow: 0px 1px 13px 5px #FFA5EA;
    -o-box-shadow: 0px 1px 13px 5px #FFA5EA;
    box-shadow: 0px 1px 13px 5px #FFA5EA;
}


.book-card .editButton {
    width: 100%;
	background-color:transparent;
	border-radius:8px;
	border:2px solid #f5f6f5;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:14px;
	padding:8px 12px;
	text-decoration:none;
}
.book-card .editButton:hover {
	background-color:transparent;
    border: 2px solid rgb(255, 255, 255);
    font-size:15px;
}
.book-card .editButton:active {
	position:relative;
	top:1px;
}

.booknotfound {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addbook {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.addbook a {
    text-decoration: none;
    font-size: 22px;
    width: 15%;
    text-align: center;
    padding: 10px;
    color: #2c4493;
}

.addbook a:hover {
    border: 2px solid #000;
    border-radius: 8px;
    border-color: #2c4493;
}

@media only screen and (max-width: 600px) {

    .book-card {
        font-size: 5vw;
        width: 100vw;
    }

    .book-list {
        flex-direction: column;
    }

}