html
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="style/home.css")
    body
        .home-sec
            h2 Books Directory
        .home-content
            if books.length > 0 
                .book-list
                    each b in books
                        .book-card 
                            h2 #{b.titolo}
                            p  #{b.autore}
                            p  #{b.data_pubblicazione}
                            a(href="/updatebook/"+b.id, class="editButton") Edit
            else 
                h4 Nessun libro presente nell'archivio
            a(href="/newbook") Add new book