html
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        h2 Home page
        if books.length > 0 
            each b in books 
                h4 Titolo: #{b.titolo}
                p Autore: #{b.autore}
                p Pubblicato il: #{b.data_pubblicazione}
        else 
            h4 Nessun libro presente nell'archivio
        a(href="/newbook") Add new book